<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--link rel="stylesheet" type="text/css" href="style.css"-->
  </head>
  <body>
    <h1>GraphQL Example App</h1>
    <p><%= data %></p>
    
    <!-- Place script tags just before closing body tag --> 
    <script src=""></script>
  </body>
</html>